In [1]:
import pandas as pd

# Load data from previous step
df = pd.read_parquet("data_01_06.parquet")

# Check distribution of values in 'Under influence'
distribution_table = df["Under influence"].value_counts(dropna=False).reset_index()
distribution_table.columns = ["Value", "Count"]
distribution_table["Percent"] = (distribution_table["Count"] / len(df) * 100).round(2)

distribution_table

                      Value    Count  Percent
0                      None  6858628    96.10
1                 Niebadany   159332     2.23
2                  Alkoholu   116285     1.63
3             Innego środka     2599     0.04
4   Alkoholu; Innego środka      372     0.01
5  Innego środka; Niebadany        1     0.00

In [3]:
# Translate existing values in 'Under influence'
translation_dict = {
    "Alkoholu": "Alcohol",
    "Innego środka": "Other substance",
    "Alkoholu; Innego środka": "Alcohol; Other substance",
    "Niebadany": "Not tested",
    "Innego środka; Niebadany": "Other substance; Not tested",
    None: "Unknown"
}

df["Under influence"] = df["Under influence"].map(translation_dict).fillna("Unknown")

In [7]:
# Regenerate the translated distribution table
distribution_table = df["Under influence"].value_counts(dropna=False).reset_index()
distribution_table.columns = ["Value", "Count"]
distribution_table["Percent"] = (distribution_table["Count"] / len(df) * 100).round(2)

# Save to Excel
distribution_table.to_excel("under_influence_table.xlsx", index=False)

# Display the table
display(distribution_table)

                         Value    Count  Percent
0                      Unknown  6858628    96.10
1                   Not tested   159332     2.23
2                      Alcohol   116285     1.63
3              Other substance     2599     0.04
4     Alcohol; Other substance      372     0.01
5  Other substance; Not tested        1     0.00

In [9]:
# Save the updated DataFrame with translated 'Under influence' values
df.to_parquet("data_01_07.parquet", index=False)