In [1]:
import pandas as pd

# Load data from previous step
df = pd.read_parquet("data_01_03.parquet")

# Check distribution of values in 'Protective equipment present'
distribution_table = df["Protective equipment present"].value_counts(dropna=False).reset_index()
distribution_table.columns = ["Value", "Count"]
distribution_table["Percent"] = (distribution_table["Count"] / len(df) * 100).round(2)

distribution_table

  Value    Count  Percent
0  None  7088778    99.32
1     T    39690     0.56
2     N     8749     0.12

In [5]:
# Impute missing values
df["Protective equipment present"] = df["Protective equipment present"].fillna("unknown")

# Translate values
df["Protective equipment present"] = df["Protective equipment present"].replace({
    "T": "yes",
    "N": "no"
})

# Save updated dataset
df.to_parquet("data_01_04.parquet", index=False)

# Create updated distribution table
distribution_table = df["Protective equipment present"].value_counts().reset_index()
distribution_table.columns = ["Value", "Count"]
distribution_table["Percent"] = (distribution_table["Count"] / len(df) * 100).round(2)

# Save table to Excel
distribution_table.to_excel("protective_equipment_table.xlsx", index=False)

distribution_table

     Value    Count  Percent
0  unknown  7088778    99.32
1      yes    39690     0.56
2       no     8749     0.12