In [1]:
import pandas as pd

# Load data from previous step
df = pd.read_parquet("data_01_04.parquet")

# Rename column and impute missing values
df.rename(columns={"Roundabout or junction": "Intersection name"}, inplace=True)
df["Intersection name"] = df["Intersection name"].fillna("not at intersection")

# Create distribution table
distribution_table = df["Intersection name"].value_counts(dropna=False).reset_index()
distribution_table.columns = ["Value", "Count"]
distribution_table["Percent"] = (distribution_table["Count"] / len(df) * 100).round(2)

In [8]:
distribution_table

                     Value    Count  Percent
0      not at intersection  7071900    99.08
1                    RONDO     1988     0.03
2        RONDO JAGIELLONÓW     1728     0.02
3             SOLIDARNOŚCI     1696     0.02
4                RONDO NSZ     1247     0.02
...                    ...      ...      ...
5233     WĘZEŁ SIKORSKIEGO        1     0.00
5234                SAPERA        1     0.00
5235                    K3        1     0.00
5236   PRZEJŚCIE GRANICZNE        1     0.00
5237  MAKSYMILIANA KOLBEGO        1     0.00

[5238 rows x 3 columns]

In [2]:
# Generate distribution summary
distribution_table = df["Intersection name"].value_counts(dropna=False).reset_index()
distribution_table.columns = ["Value", "Count"]
distribution_table["Percent"] = (distribution_table["Count"] / len(df) * 100).round(2)

# Display summary
distribution_table.head(10)  # show top 10 only, rest omitted due to high cardinality

                    Value    Count  Percent
0     not at intersection  7071900    99.08
1                   RONDO     1988     0.03
2       RONDO JAGIELLONÓW     1728     0.02
3            SOLIDARNOŚCI     1696     0.02
4               RONDO NSZ     1247     0.02
5      RONDO SOLIDARNOŚCI      791     0.01
6       RONDO POPIEŁUSZKI      785     0.01
7  STEFANA KISIELEWSKIEGO      734     0.01
8         RONDO TORUŃSKIE      725     0.01
9        RONDO FORDOŃSKIE      681     0.01

In [6]:
# Save updated DataFrame
df.to_parquet("data_01_05.parquet", index=False)