In [1]:
import pandas as pd

df = pd.read_parquet("data_02_02.parquet")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7137217 entries, 0 to 7137216
Data columns (total 61 columns):
 #   Column                        Dtype
---  ------                        -----
 0   Event ID                      int64
 1   Vehicle ID                    float64
 2   Participant ID                int64
 3   Participant type              object
 4   Sex                           object
 5   Driving license status        object
 6   Years of driving experience   float64
 7   Legal resolution              object
 8   Killed                        object
 9   Injured                       object
 10  No safety equipment           object
 11  Seat position                 object
 12  Is at fault                   object
 13  Under influence               object
 14  Additional info               object
 15  Vehicle condition             object
 16  Vehicle brand                 object
 17  Vehicle model                 object
 18  Protective equipment present  object
 19  Special vehicles              object
 20  Production year               float64
 21  Last technical inspection     string
 22  Vehicle type                  object
 23  Event ID (KSIP)               object
 24  Date of event                 datetime64[ns]
 25  County                        object
 26  Commune                       object
 27  Province                      object
 28  Town/city                     object
 29  Street                        object
 30  House number                  object
 31  Road number                   object
 32  Distance marker (KM/HM)       object
 33  Intersection name             object
 34  Intersection with street      object
 35  Intersection with road        object
 36  Distance to intersection      float64
 37  GPS x                         object
 38  GPS y                         object
 39  Accident type                 object
 40  Area type                     object
 41  Road geometry                 object
 42  Intersection                  object
 43  Crash site characteristics    object
 44  Lighting                      object
 45  Weather conditions            object
 46  Crash type                    object
 47  Speed limit                   float64
 48  Road type                     object
 49  Road surface                  object
 50  Road surface condition        object
 51  Traffic signal                object
 52  Road markings                 object
 53  Other causes                  object
 54  Date of birth                 string
 55  Injury severity               object
 56  Event date                    datetime64[ns]
 57  Year                          float64
 58  Month                         float64
 59  Quarter                       period[Q-DEC]
 60  Weekday                       float64
dtypes: datetime64[ns](2), float64(8), int64(2), object(46), period[Q-DEC](1), string(2)
memory usage: 3.2+ GB

In [3]:
# Preview distribution of the next feature to analyze (e.g., 'Driving license status')
df['Driving license status'].value_counts(dropna=False, normalize=True)

Driving license status
Posiada                      0.859728
Nieokre≈õlone (puste pole)    0.095804
Nie wymagane                 0.025347
Nie posiada                  0.019121
Name: proportion, dtype: float64

In [4]:
# Check whether the two date columns are identical
are_equal = (df['Date of event'] == df['Event date']).all()
print("Are the two date columns identical?:", are_equal)

# If they differ, display how many mismatches exist and show a sample
if not are_equal:
    mismatches = df[df['Date of event'] != df['Event date']]
    print("Number of mismatches:", len(mismatches))
    display(mismatches[['Date of event', 'Event date']].drop_duplicates().head(10))

Are the two date columns identical?: False
Number of mismatches: 669066

        Date of event Event date
6467812           NaT        NaT

In [5]:
# Count number of NaT in each column
print("NaT in 'Date of event':", df['Date of event'].isna().sum())
print("NaT in 'Event date':", df['Event date'].isna().sum())

# Count where one is NaT but not both
only_event_na = df['Event date'].isna() & df['Date of event'].notna()
only_date_na = df['Date of event'].isna() & df['Event date'].notna()
print("Only 'Event date' is NaT:", only_event_na.sum())
print("Only 'Date of event' is NaT:", only_date_na.sum())

NaT in 'Date of event': 669066
NaT in 'Event date': 669066
Only 'Event date' is NaT: 0
Only 'Date of event' is NaT: 0

In [6]:
# Drop redundant column
df = df.drop(columns=['Event date'])

In [7]:
df['Quarter'] = df['Quarter'].dt.quarter

In [ ]:
df.to_parquet("data_02_03.parquet", index=False)